<%= form_for(@key) do |f| %>
  <% if @key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
      <% @key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pass_hash %><br />
    <%= f.text_field :pass_hash %>
  </div>
  <div class="field">
    <%= f.label :pass_hash %><br />
    <%= f.text_field :pass_hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
