<p id="notice"><%= notice %></p>

<p>
  <b>Pass hash:</b>
  <%= @key.pass_hash %>
</p>

<p>
  <b>Pass hash:</b>
  <%= @key.pass_hash %>
</p>


<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
