<% if @cracked %>
 <h1>Your password was found in the hash dump, and it has been cracked by the attackers.</h1>
<% elsif @uncracked %>
  <h1> Your password was found in the hash dump, it is recommended you change your password.</h1>
<% else %>
  <h1>We could not find your password in the hash dump. It is recommended you change your password anyway.</h1>
<% end %>
